# =============== #
# Unity generated #
# =============== #
demos/Unity/Stepwise/[Tt]emp/
demos/Unity/Stepwise/[Oo]bj/
demos/Unity/Stepwise/[Bb]uild
demos/Unity/Stepwise/[Ll]ibrary/
sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
demos/Unity/Stepwise/[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db